#body1{
    background-color: #192a6b;
    margin:0;
}


img{
    margin:0px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#bicho{
    color:white;
    width:350px;
    margin-top:100px;
}

#entrar{
    background-color: #e36e75;
    width: 130px;
    height: 40px;
}
#clt{
    position: absolute;
    top: 0px;
    left: 1200px;
    width: 720px;
    height: 953px;

}
#cadastrar{
    background-color: #e36e75;
}

#butal{
    background-color: #e36e75;
    position: relative;
    left: 50px;
    top: -38px;
}
#tela{
    background-color: #192a6b;
}

#botao{
    background-color: #e36e75;
    position: relative;
    left: -50px;
    top: 0px;
}

#email{
    color: #fff;;
}

#senha{
    color: #fff;;
}