<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina ADM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css"> 
</head>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/movimentacos">movimentação</a>
                <a class="nav-link" href="/usuarios">Usuarios</a>
                </div>
            </div>
            </div>
        </nav>

    <body id="tela" class="container mt-4">
        <h1 style="color: white;">Painel Administrativo</h1>
        <h3 style="color: white;">Controle de Almoxarifado</h3>
        <table id="tabela" class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </tr>
        </thead>
        <tbody>
                <table
                id="tabela"
                class="table table-striped table-bordered">
                
                <thead class="table-dark">
                
                <tr>
                
                <th>ID</th>
                <th>Produto</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Ações</th>
                
                </tr>
                
                </thead>
                
                <tbody>
                
                {% for produto in produtos %}
                
                <tr>
                
                <td>{{produto[0]}}</td>
                <td>{{produto[1]}}</td>
                <td>{{produto[2]}}</td>
                <td>{{produto[3]}}</td>
                
                <td>
                
                <button
                class="btn btn-warning"
                onclick="editarProduto('{{produto[0]}}')">
                
                Editar
                
                </button>
                
                <button
                class="btn btn-danger"
                onclick="deletarProduto('{{produto[0]}}')">
                
                Excluir
                
                </button>
                
                <button
                class="btn btn-info"
                data-foto="{{ produto[7] }}"
                onclick="verImagem(this.dataset.foto)">

                Ver imagem

                </button>
                </td>
                
                </tr>
                
                {% endfor %}
                
                </tbody>
                
                </table>
                
                <a href="/"
                class="btn btn-danger">
                
                Sair
                
                </a>
                
                <button
                onclick="mostrarFormulario()"
                class="btn btn-success">
                
                Adicionar Item
                
                </button>
                
                <div
                id="formulario"
                style="display:none; margin-top:20px;">
                
                <form
                action="/cadastrarproduto"
                method="POST">
                
                <input
                type="text"
                name="nome"
                placeholder="produtos"
                required>
                
                <input
                type="text"
                name="categoria"
                placeholder="Categoria"
                required>
                
                <input
                type="number"
                name="quantidade_estoque"
                placeholder="Quantidade"
                required>


                <input
                type="text"
                name="foto2"
                placeholder="Link da imagem"
                required>

                
                <button
                type="submit"
                class="btn btn-primary">
                
                Salvar
                
                </button>
                
                
                </form>
                
                </div>
                
                <script>
                
                function mostrarFormulario(){
                
                document.getElementById(
                "formulario"
                ).style.display="block"
                
                }
                
                function editarProduto(id){
                
                Swal.fire({
                
                title:'Nova Quantidade',
                
                input:'number',
                
                showCancelButton:true,
                
                confirmButtonText:'Salvar'
                
                }).then((result)=>{
                
                if(result.isConfirmed){
                
                window.location.href=
                `/editarquantidade/${id}/${result.value}`
                
                }
                
                })
                
                }
                
                function deletarProduto(id){
                
                Swal.fire({
                
                title:'Excluir item?',
                
                icon:'warning',
                
                showCancelButton:true,
                
                confirmButtonText:'Excluir'
                
                }).then((result)=>{
                
                if(result.isConfirmed){
                
                window.location.href=
                `/deletar/${id}`
                
                }
                
                })
                
                }
                
                </script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script src="/static/main.js"></script>
    </body>
</html>